<!DOCTYPE html>
<html>
<head>
  <title>Folioshine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/signup_header' %>
<div class="container" id="signup-form">
    <%= yield %>
</div><!-- end container -->    
</body>
</html>
